<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/media/style/main.css" />
    <script type="text/javascript" src="/media/javascript/jquery-1.7.2.min.js"></script>
    {% block include %}{% endblock %}
</head>
<body>
<div id="container">
    <div id="header">
        <h1>
            {% block header %}{% endblock %}
        </h1>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/schedule/score">Scores</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="#">Standings</a></li>
        </ul>
    </div>
    <div id="navigationright">
        <ul>
            <li>
                {% if user.is_authenticated %}
                    <a href="/logout">{{ user.first_name }}, Log Out</a>
                {% else %}
                    <a href="/login"> Login</a>
                {% endif %}
            </li>

        </ul>
    </div>
    <div id="content-container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="aside">
            <div id="messages">
                {% block message %}
                    {% if error_message %}<p><strong>Error{{ error_message }}</strong></p>{% endif %}
                    {% if success_message %}<p><strong>{{ success_message }}</strong></p>{% endif %}
                {% endblock message %}
            </div>
            {% block sidecontent %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                <hr>
                <p>Copyright © Golf Clap, 2012</p>
            {% endblock %}
            {% csrf_token %}
        </div>
    </div>
</div>
</body>
</html>
